.link,
.link-2{
  color: #2E4AFF;
}

.link:hover,
.link-2:hover{
  color: #2E4AFF;
}

.profile_picture{
  display: block;
  width: 128px;
  height: 128px;
  line-height: 128px;
  border: 1px solid #DE2B6B;
  border-radius: 64px;
  margin-right: auto;
  margin-left: auto;
}

.ps .ps__rail-y {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#toast-container .toast.toast-success,
#toast-container .toast.toast-error,
#toast-container .toast.toast-info,
#toast-container .toast.toast-warning
{
  background-image: none !important;
  padding: 15px 15px 15px 7px !important;
}

#toast-container .toast-close-button{
  top: -.7em !important;
}

@media only screen and (max-width: 320px) {
    #toast-container > .toast {
        width: 258px;
    }
}